[*.{cpp,h,hlsl,hlsli}]
charset= utf-8

spelling_error_severity=error

spelling_checkable_types=identifiers,comments

spelling_languages=en-us

spelling_use_default_exclusion_dictionary=true

spelling_exclusion_path=./exclusion.dic
